*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    padding-left: 50px;
    padding-right: 50px;
    font-family:  sans-serif;
}

.container1{
    width: auto;
    height: 15vh;
    top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 75px;
}
.container1 .child1{
    display: flex;
    align-items: center;
    padding: 10px;
    
}
.child1 p{
    color: #3E3E3E;
    font-size: 18px;
    padding-left: 20px;
}
.container1 .child2 button{
    /* display: flex; */
    /* flex-direction: column;
    align-items:start;
    justify-content: center; */
    /* height: 15px; */
    font-size: 18px;
    width: 140px;
    padding: 10px;
    color: white;
    border-radius: 8px;
    background-color: #000000;
    flex-wrap: wrap;

}

.child2 a{
    flex-direction: row;
    margin: 20px;
}
.child2 button:hover{
    background-color: #3E3E3E;
}

.container21{
    display: flex;
}

.container2{
    height: 90vh ;
    width: 100%;
}
.container2 .child3{
    font-size: 75px;
    padding-top: 85px;
    padding-left: 85px;
    
    height: 35%;
    width: 700px;
}
.child3 span{
    font-weight: bold;
}

.child4{
    font-size: 16px;
    padding-top: 180px;
    padding-left: 65px;
    width: 674px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.child4 p{
    padding-top: 20px;
    padding-bottom: 55px;
    color: #3E3E3E;
    font-size: 22px;
    width: 833px;
}

.child4 button{
    background-color: #C2F578;
    border: 1px solid #C2F578;
    height: 53px;
    width: 215px;
    border-radius: 8px;
    font-size: 20px;
    
}
.container3 img{
    padding-right: 80px;
}

.container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container4 .child5{
    font-size:24px ;
    height: 30px;
    padding: 80px;
    color: #3E3E3E;
}
.container4 .child6 p{
    font-size: 30px;
    width: 100%;
    font-weight: 500;
    padding: 150px;
    color: #3E3E3E;
    display: flex;
    justify-content: center;

}
.child6 span{
    font-weight: bold;
}

.container5{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    
}

.container5 .child7{
    height: 300px;
    width: 333px;
    background-color: #F4F4F4;
    padding: 20px;
    border-radius: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container5 .child7 img{
    height: 18vh ;
   
    /* padding: -20px; */
    margin: -45px;


}

.container5 .child7 p{
    font-size: 26px;
    padding: 20px;
}

.container5 .child7 button{
    font-size: 16px;
    height: 40px;
    width: 154px;
    background-color: #C2F578;
    border: 10px solid #C2F578;
    border-radius: 8px;

}

.container6 {
    height: 20vh;
    display: flex;
    justify-content:space-around;
    padding-top: 205px;
    /* align-items: center; */
}
.container6 .child8{
    padding-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container6 .child9{
    padding-top: 250px;
    height: 500px;
    width: 25vw;
    display: flex;
    
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}
